body {
  background: rgb(10, 10, 10); /* Creates horizontal black bars */
}

main {
  height: 100vh;
  max-width: 2200px; /* Centers content on ultrawide screens */
  margin: 0 auto;

  /* Color matches my vs code setup */
  background: rgb(30, 30, 30);
  color: rgb(204, 204, 204);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 50fr 1fr;
  grid-template-areas:
    "header"
    "article"
    "footer";
}

header {
  grid-area: header;
  background: rgb(60, 60, 60);
  display: flex;
}

header a {
  padding: 8px 10px;
  text-decoration: none;
  color: rgb(204, 204, 204);
}

header a:hover {
  background: rgb(47, 92, 206);
}

article {
  height: 100%;
  width: 100%;
  grid-area: article;
  justify-self: center;
  align-self: center;
  text-align: center;
}

article p {
  margin: auto 0;
}

footer {
  grid-area: footer;
  text-align: center;
  background-color: rgb(23, 45, 100);
}

footer p {
  margin: 0;
  padding: 0;
}

footer a {
  color: rgb(204, 204, 204);
}

.activePage {
  background: rgb(23, 45, 100);
}

.center {
  text-align: center;
}

.twoColumnPage {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.twoColumnPage .col-1 {
  background-color: rgb(20, 20, 20);
}
.twoColumnPage .col-1 ul {
  list-style: none;
  padding: 0;
}

.twoColumnPage .col-1 li {
  width: 100%;
  margin: 0;
  padding: 0;
}

.twoColumnPage .col-1 li:nth-child(odd) {
  background-color: #102533;
}

.twoColumnPage .col-1 li:nth-child(even) {
  background-color: #204761;
}

.twoColumnPage .col-2 {
  /* grid-area: right; */
}

table {
  width: 100%;
}

th {
  background-color: #2d1470;
}

td {
  border: 1px solid #3782b4;
}
