/* --------------------------------------------------------
                MAIN STYLE FOR FRAME
-------------------------------------------------------- */

body {
  background: rgb(10, 10, 10); /* Creates horizontal black bars */
}

main {
  height: 100%;
  min-height: 100vh;
  max-width: 2200px; /* Centers content on ultrawide screens */
  margin: 0 auto;

  /* Color matches my vs code setup */
  background: rgb(30, 30, 30);
  color: rgb(204, 204, 204);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 36px auto 36px;
  grid-template-areas:
    'header'
    'article'
    'footer';
}

header {
  grid-area: header;
  position: sticky;
  top: 0;
  background: rgb(60, 60, 60);
  display: flex;
}

header a {
  padding: 8px 10px;
  text-decoration: none;
  color: rgb(204, 204, 204);
}

header a:hover {
  background: rgb(47, 92, 206);
}

article {
  grid-area: article;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: auto;
}

footer {
  grid-area: footer;
  text-align: center;
  position: sticky;
  bottom: 0;
  background-color: rgb(23, 45, 100);
}

footer a {
  color: rgb(204, 204, 204);
}

p {
  margin: auto 0;
}

.activePage {
  background: rgb(23, 45, 100);
}

/* --------------------------------------------------------
                WIDELY USED ITEMS
-------------------------------------------------------- */

.outcome-table {
  text-align: center;

  background: rgb(60, 60, 60);
  margin: 1em auto;
  width: 30%;
}

.outcome-table th,
.outcome-table td {
  border: 1px solid black;
}

.outcome-table th {
  padding: 1% 5%;

  color: rgb(204, 204, 204);
  background-color: rgb(23, 45, 100);
}

.outcome-table tr:nth-child(even) {
  background-color: rgb(90, 90, 90);
}

/* --------------------------------------------------------
                HOME PAGE
-------------------------------------------------------- */

.title-home {
  grid-area: 1/1/2/3;
  text-align: center;
}

.content-home {
  grid-area: 1/1/3/3;
  place-self: center;
}

/* --------------------------------------------------------
                ATTRIBUTES PAGE
-------------------------------------------------------- */

.title-attributes {
  grid-area: 1/1/2/3;
  text-align: center;
}

.content-home {
  grid-area: 1/1/3/3;
  place-self: center;
}

/* --------------------------------------------------------
                RACES PAGE
-------------------------------------------------------- */

.title-races {
  grid-area: 1/1/2/3;
  text-align: center;
}

.content-races {
  grid-area: 1/1/3/3;
  place-self: center;
}

/* --------------------------------------------------------
                RULES PAGE
-------------------------------------------------------- */

.title-rules {
  grid-area: 1/1/2/3;
  text-align: center;
}

.content-rules {
  grid-area: 1/1/3/3;
  place-self: center;
  overflow: auto;
  width: 95%;
  margin: 0 auto;
}

/* --------------------------------------------------------
                SPECIALIZATIONS PAGE
-------------------------------------------------------- */

.list-of-specializations {
  grid-area: 1/1/3/1;
  height: 100%;
  width: 100%;
  background-color: rgb(20, 20, 20);
}
.list-of-specializations ul {
  list-style: none;
  padding: 0;
}

.list-of-specializations li {
  width: 100%;
  margin: 0;
  padding: 0;
}

.list-of-specializations li:nth-child(odd) {
  background-color: #102533;
}

.list-of-specializations li:nth-child(even) {
  background-color: #204761;
}

.list-of-perks {
  grid-area: 1/2/2/2;
  height: 100%;
  width: 100%;
  text-align: center;
}

.perk-info {
  grid-area: 2/2/3/3;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  color: black;
}

.perk-table {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.perk-table th {
  background-color: #2d1470;
}

.perk-table td {
  border: 1px solid #3782b4;
}

/* --------------------------------------------------------
                PERKS PAGE
-------------------------------------------------------- */

.perk-level,
.perk-type {
  display: none;
}

/* --------------------------------------------------------
                ITEMS PAGE
-------------------------------------------------------- */

.title-items {
  grid-area: 1/1/2/3;
  text-align: center;
}

.content-items {
  grid-area: 1/1/3/3;
  place-self: center;
}
